VITE_API_URL=https://zetod-backend.onrender.com
VITE_POSTHOG_TOKEN=phc_CXCcSstnAnT4py4oLc94moN5E6rSkUDoESfkzafeskLK
VITE_POSTHOG_HOST=https://eu.i.posthog.com
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
